<% provide(:title, "New") %>
<% provide(:class_text, 'article--new') %>
<% provide(:button_text, '新規作成') %>
<h1>記事の新規作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @article, url: user_articles_path(current_user, @article), local: true, multipart: true) do |f| %> 
      <%= render 'shared/error_messages', object: @article %> 

      <div class="form-group">
        <%= f.label :title, class: "label-#{yield(:class_text)}" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :content, class: "label-#{yield(:class_text)}" %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
        
      <div class="form-group">
        <%= f.label :image, class: "label-#{yield(:class_text)}" %>
        <%= f.file_field :image, class: "form-control" %>
      </div>
        
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
    <% end %>

    <%= link_to "戻る", user_articles_path(current_user) %>
    
  </div>
</div>



